<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"/>
  <title>$swipe</title>
</head>
<body>

<div ng-controller="window1">
  <input type="text" ng-model="str"/>
  <button ng-click="alertLog()">アラート</button>
</div>

<div ng-controller="window2">
  <input type="text" ng-model="str"/>
  <button ng-click="alertLog()">アラート</button>
</div>

<script src="../../lib/angular.js"></script>
<script src="window.js"></script>
</body>
</html>